
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="logoText navbar-brand mb-0 h1" routerLink="home">
        <img src="../../../assets/superMarioLogo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        &nbsp;{{logoText}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item contactLink"><a class="nav-link" routerLink="home">Home</a></li>
          <li *ngIf="userInfo.username!='Guest'" class="nav-item"><a class="nav-link" routerLink="home" (click)="logOut()">LogOut</a></li>
          <li *ngIf="userInfo.username=='Guest'" class="nav-item"><a class="nav-link" [routerLink]="['/', {outlets: {leftBar:['login']}}]">Login</a></li>
          <li *ngIf="userInfo.username=='Guest'" class="nav-item"><a class="nav-link" [routerLink]="['/', {outlets: {leftBar:['registerA']}}]">Sign Up</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" >1800-56-56-56</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" >SuperMario@gmail.com</a>
            </div>
          </li>
        </ul>

          <div *ngIf="cartComp" class="input-group">
           <input title="search" #searchInput="ngModel" [(ngModel)]="searchProductName" name="searchProduct" type="search" class="search-hover" [placeholder]="placeholderText" (input)="onSearch(searchProductName)">
             <div class="input-group-append">
            <button title="searchBtn" #searchInput class="btn btn-secondary" >
               <i class="bi bi-search"></i>
            </button>
            </div>
          </div>

            <div class="collapse navbar-collapse justify-content-end">
            <span class="navbar-brand mb-0 h1 bi helloUser" [ngClass]="{'bi-person': userInfo.userProfile=='guest', 'bi-person-gear': userInfo.userProfile=='admin', 'bi-person-check': userInfo.userProfile=='user'}" > Hello {{userInfo.username}}<span *ngIf="userInfo.userProfile=='admin'" class="role"> (Admin)</span></span>
            </div>
        </div>
    </nav>




