<form (ngSubmit)="completeSign()" #myForm2="ngForm">
    <h1>Registration-STEP 2</h1>
    <!-- <label>First Name:</label> -->
    <input #firstName="ngModel" name="firstName" [(ngModel)]="myUser.firstName" class= "form-control" type="text" placeholder="First Name" required minlength="2" maxlength="20">
    <span *ngIf="firstName.errors && firstName.touched">
      <span class="bi bi-exclamation-circle-fill" *ngIf="firstName.errors['required']"> Missing First Name</span>
      <span class="bi bi-exclamation-circle-fill" *ngIf="firstName.errors['minlength'] || firstName.errors['maxlength']"> First Name must be between 2-20 characters</span>
  </span>
    <!-- <label>Last Name:</label> -->
    <input #lastName="ngModel" name="lastName" [(ngModel)]="myUser.lastName" class= "form-control" type="text" placeholder="Last Name" required minlength="2" maxlength="20">
    <span *ngIf="lastName.errors && lastName.touched">
      <span class="bi bi-exclamation-circle-fill" *ngIf="lastName.errors['required']"> Missing Last Name</span>
      <span class="bi bi-exclamation-circle-fill" *ngIf="lastName.errors['minlength'] || lastName.errors['maxlength']"> Last Name must be between 2-20 characters</span>
  </span>
    <!-- <label>City:</label> -->
    <select #city="ngModel" title="selectCities" name="city" [(ngModel)]="myUser.city"  class="form-select" required>
        <option disabled value="">Select City:</option>
        <option *ngFor="let c of cities" [value]="c">{{c}}</option>
    </select>
    <span *ngIf="city.errors && city.touched">
        <span class="bi bi-exclamation-circle-fill" *ngIf="city.errors['required']"> Missing City</span>
    </span>

    <!-- <label>Street:</label> -->
    <input #street="ngModel" name="street" [(ngModel)]="myUser.street" class= "form-control" type="text" placeholder="street here..." required minlength="2" maxlength="20">
    <span *ngIf="street.errors && street.touched">
        <span class="bi bi-exclamation-circle-fill" *ngIf="street.errors['required']"> Missing Street</span>
        <span class="bi bi-exclamation-circle-fill" *ngIf="street.errors['minlength'] || street.errors['maxlength']"> Street Name must be between 2-20 characters</span>
    </span>

    <button class="btn btn-primary" [disabled]="myForm2.invalid" type="submit" >Submit</button>

</form>
