<div #loginDiv class="loginDiv">

  <div class="btnDiv">
      <button mat-raised-button color="accent" #shopBtn type="button" class="shopBtn" (click)="goShop()">{{shopBtnText}}</button>
  </div>

  <div *ngIf="!myUser" class="formDiv">
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">

      <h1>Registered?</h1>
      <mat-form-field class="loginInputs" >
          <mat-label>Username</mat-label>
          <input type="email" matInput placeholder="username@yourEmail.com" #username="ngModel" [(ngModel)]="userLogin.username" name="username" required [pattern]="emailRegEx" minlength="6" maxlength="30">
            <mat-error *ngIf="username.touched && username.errors && username.errors['required']">Missing username</mat-error>
            <mat-error *ngIf="username.touched && username.errors && (username.errors['minlength'] || username.errors['maxlength'])">username must be between 6-30 characters</mat-error>
            <mat-error *ngIf="username.touched && username.errors && !(username.errors['minlength'] || username.errors['maxlength']) && (username.errors['pattern'])">Invalid Email Address</mat-error>
      </mat-form-field>

      <mat-form-field class="loginInputs">
          <mat-label>Password</mat-label>
          <input [type]="showPassword ? 'text' : 'password'" title="passwordLogin" matInput  #password="ngModel" [(ngModel)]="userLogin.password" name="password" required minlength="8" maxlength="30">
          <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="togglePassword()"
              (mousedown)="$event.preventDefault()" 
              [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
              [attr.title]="showPassword ? 'Hide password' : 'Show password'"
            ><mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="password.errors && password.touched && password.errors['required']"> Missing password</mat-error>
          <mat-error *ngIf="password.errors && password.touched && (password.errors['minlength'] || password.errors['maxlength'])"> password must be between 8-30 characters</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="loginForm.invalid" class="loginBtn" type="submit" >Login</button>
      </form><br/>
      
    <a class="signLink" [routerLink]="['/', {outlets: {leftBar:['registerA']}}]"><i class="bi bi-person-fill-up"></i> Sign Up</a>

    <div #warningsDiv class="warningsDiv"></div>
  </div>

</div>
