

.loginDiv{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

form >input{
    display: block;
}

.formDiv{
    padding: 15px;
    align-self: center;
    grid-row: span 4;
    grid-column: span 4;
    height: 100%;
}

.form{
    height: 80%;
    width: 100%;
}

.form-control{
    width:100%;
    margin-bottom: 20px;
}

.warningsDiv{
  /* grid-row: span 1; */
  /* grid-column: span 4; */
  height: 40%;
  /* border: 1px solid; */

}

.btn{
    margin-right: 20px;
}

.btnDiv{
    grid-row: span 2;
    grid-column: span 4;
}

.shopBtn{
   height: 100%;
   width: 100%;
   font-size: 30px;
   color: whitesmoke;
   font-weight: bold;
   border-radius: 10px;
}

.shopBtn:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }


  .bi-exclamation-circle-fill{
    color: rgb(204, 98, 98);
    display: block;
    font-size: 11px;
  }



  .bounce2 {

    animation: bounce2 2s ease infinite;
    font-size: 6em;
    color: rgb(255, 0, 170);
    margin-top: 30px;
    box-sizing: content-box;
    /* grid-row: span 2; */

    margin-left: 70%;
  }

  @keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }

