

<section>
  <!-- <div class="input-group">
    <input title="search" #searchInput="ngModel" [(ngModel)]="searchProductName" name="searchProduct" type="search" class="form-control" [placeholder]="checkOut?'Search In Reciept' : 'Search Product'" (input)="onSearch(searchProductName)">
    <div class="input-group-append">
      <button title="searchBtn" class="btn btn-secondary" >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div> -->

  <div class="adminDiv" *ngIf="isAdmin">
    <app-admin-panel></app-admin-panel>
  </div>

  <!-- <p><button kendoButton *ngIf="!opened" (click)="openClose(true)">Open</button></p>
  <p>
      The state of the Window is <b>{{ windowState }}</b>
  </p>
  <kendo-window [top]="100" [left]="50" title="Change my state" [(state)]="windowState" *ngIf="opened" (close)="openClose(false)">
      <p style="text-align: center;">I can be minimized and maximized!</p>
  </kendo-window> -->

<div class="cartDiv" *ngIf="!isAdmin">
<div class="cartHeader">
  <h1>My Cart</h1><a href="" *ngIf="checkOut" [routerLink]="['/', {outlets: {primary:['products']}}]" (click)="goBack()">Back To Shop</a>
  <hr>
</div>

<div #cartBody class="cartBody">
  <table>
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sum</th>
    </thead>
      <tbody>
        <tr *ngFor="let i of myCartContent">
          <td [innerHTML]="checkOut? (i.productName| highLighter:searchProductName:'partial'): i.productName"></td>
          <td>{{i.price}}</td>
          <td>{{i.quantity}}</td>
          <td>{{i.totalPerProduct}}</td>
          <button *ngIf="!checkOut" title="deleteBtn" type="button" (click)="DeleteItems(i.itemId)" class="bi bi-x-square-fill"></button>
        </tr>
      </tbody>
  </table>
</div>
<div class="cartFooter">
<button *ngIf="!checkOut" type="button" (click)="DeleteItems('all')" [disabled]="myCartContent.length==0">Delete All</button>
<h4>Total: {{total}} NIS</h4>
<button *ngIf="!checkOut" class="btn btn-primary" type="button" (click)="onCheckOut()" [disabled]="myCartContent.length==0">CheckOut</button>
</div>
</div>
</section>
