<div class="aboutDiv">
  <div class="text">
  <h1>Super Mario at your Service!!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quam in libero asperiores accusantium facere quas voluptas est officiis, quis nemo suscipit magni sed fuga aliquam ea quia tempore aspernatur, laudantium inventore a minus eius error. Neque rem, voluptas quae enim libero commodi impedit hic quis aliquam tempora culpa. Maxime error aperiam magni vitae est id? Mollitia sapiente debitis cumque obcaecati aut eos temporibus quam ex, fugiat porro distinctio odio dolor saepe nobis veniam quasi at asperiores optio excepturi quae, voluptates, repellat molestiae cum! Velit dolorum enim delectus deleniti libero excepturi, voluptatibus rerum modi autem repellat quia nobis laboriosam nemo aliquam nostrum laborum qui eligendi beatae.</p>
</div>
<br/>
<img src="../../../../assets/shopping_trolley_in_supermarket_aisle.jpg" alt="shopImage" >
</div>
