<form (ngSubmit)="secondRegister()" #myForm1="ngForm">
    <h1><i class="bi bi-person-fill-add"></i> SIGN-UP <span>(step 1)</span></h1>

    <mat-form-field class="registerInputs" >
      <mat-label>User ID</mat-label>
      <input matInput  #userId="ngModel" name="userId" title="userId" [(ngModel)]="myUser.userId" type="number" required [pattern]="userIdRegEx" maxlength="9" (input)="checkId()">
        <mat-error *ngIf="userId.touched && userId.errors && userId.errors['required']">Missing User ID</mat-error>
        <mat-error *ngIf="userId.touched && userId.errors && userId.errors['pattern']">ID must be 9 digits</mat-error>
        <span class="alreadyMessage bi bi-exclamation-circle-fill" *ngIf="!userId.errors && idExist"> ID already exist</span>
      </mat-form-field>


    <mat-form-field class="registerInputs" >
      <mat-label>Username (Email)</mat-label>
        <input #username="ngModel" matInput name="username" [(ngModel)]="myUser.username" type="email" [pattern]="emailRegEx" placeholder="username@yourEmail.com" required minlength="6" maxlength="30" (blur)="ValidateEmail()">
        <mat-error *ngIf="username.errors && username.touched && username.errors['required']">Missing Username</mat-error>
        <mat-error *ngIf="username.errors && username.touched && (username.errors['minlength'] || username.errors['maxlength'])"> Username must be between 6-30 characters</mat-error>
        <mat-error *ngIf="username.errors && username.touched &&!(username.errors['minlength'] || username.errors['maxlength']) && username.errors['pattern']">Invalid Email address</mat-error>
        <span class="alreadyMessage bi bi-exclamation-circle-fill" *ngIf="!username.errors && usernameExist==true"> Username already exist</span>
      </mat-form-field>

    <mat-form-field class="registerInputs" >
      <mat-label>Password</mat-label>
        <input #password="ngModel" title="password" matInput name="password" [(ngModel)]="myUser.password" type="password" required [pattern]="passwordRegEx">
        <mat-error *ngIf="password.errors && password.touched && password.errors['required']"> Missing password</mat-error>
        <mat-error *ngIf="password.errors && password.touched && password.errors['pattern']"> Use 8 or more characters with a mix of letters, numbers & symbols</mat-error>
    </mat-form-field>


    <mat-form-field class="registerInputs" >
      <mat-label>Password Confirm</mat-label>
      <input #confirmPassword="ngModel" title="confirmPassword" matInput name="confirmPassword" [(ngModel)]="myUser.confirmPassword"  type="password" required>
      <mat-error *ngIf="confirmPassword.errors && confirmPassword.touched && confirmPassword.errors['required']"> Missing password Confirm</mat-error>
      <span class="alreadyMessage bi bi-exclamation-circle-fill" *ngIf="confirmPassword.dirty && !confirmPassword.errors && password.valid &&  myUser.confirmPassword!=myUser.password"> Passwords didn't match. Try again</span>
      </mat-form-field>


    <br/>
    <button mat-raised-button color="primary" [disabled]="myForm1.invalid || myUser.confirmPassword!=myUser.password || usernameExist|| idExist" type="submit">STEP 2 <i class="bi bi-arrow-right-circle"></i></button>
  </form>



