<!-- <section>
  <div class="input-group">
    <input title="search" #searchInput="ngModel" [(ngModel)]="searchProductName" name="searchProduct" type="search" class="form-control" [placeholder]="checkOut?'Search In Reciept' : 'Search Product'" (input)="onSearch(searchProductName)">
    <div class="input-group-append">
      <button title="searchBtn" class="btn btn-secondary" >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <app-admin-panel></app-admin-panel>
  </section> -->

