<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
  <ul  class="navbar-nav mr-auto">
    <li *ngFor="let c of categories" class="nav-item"><a class="nav-link"><button [id]="c.categoryId" class="activeCategory" (click)="showProducts(c.categoryId)">{{c.categoryName}}</button></a></li>
  </ul>
</div>
</nav>

<h2 *ngIf="products.length==0">{{productsMessage}}</h2>
<div class="cardsContainer" *ngIf="products.length>0">
  <div class="card" *ngFor="let p of products" (click)="selectProduct(p)">
    <img [src]="imageUrl + p.image" alt="productImage">
    <div class= "card-title">{{p.productName}}</div>
    <div class= "card-body">{{p.price}}</div>
  </div>
</div>
