main{
   height: 100%;
   width: 100%;
    /* border: 2px solid rgb(221, 210, 210); */
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.centerDiv, .rightDiv{
    grid-column: span 6;
    grid-row: span 12;
    /* border: 2px solid rgb(221, 210, 210); */
    padding: 20px;
}
