main{
   height: 100%;
   width: 100%;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.centerDiv, .rightDiv{
    grid-column: span 6;
    grid-row: span 12;
    padding: 13px;
}


@media screen and (max-width: 576px){
  main{
    height: 150%;
  }
  
  .centerDiv{
  grid-column: span 12;
    grid-row: span 6;
  }

  .rightDiv{
    grid-column: span 12;
    grid-row: span 6;
  }
}
